.main-container {
    border-radius: 15px;
    min-height: 200px;
    padding: 20px;
    border: 1px solid #7c7c7c;
}

.main-navbar {
    background-color: #dbe8ff;
}

.logo {
    width: 50px;
    height: 50px;
}

p.footer {
    font-size: 12px;
    margin-top: 30px;
}

.panel-colored > .panel-heading {
    background-color: #dbe8ff;
    border-color: #dbe8ff;
}

td.center {
    text-align:center;
}

.property-main-img {
    max-height: 300px;
    float: right;
}